<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NEW USER</title>
</head>
<body>
<div>
    <h2>NEW USER</h2>
    <form th:action="@{/users}" th:method="POST" th:object="${user}">
        <div>
            <label for="name">Name:</label>
            <input type="text" th:field="*{name}" id="name" placeholder="Write name" />
            <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" />
            <br><br>
            <label for="age">Age:</label>
            <input type="number" th:field="*{age}" id="age" placeholder="Write age" />
            <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}" />
            <br><br>
            <label for="email">Email:</label>
            <input type="text" th:field="*{email}" id="email" placeholder="Write email" />
            <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" />
            <br><br>
            <input type="submit" value="Create!">
        </div>
    </form>
</div>
</body>
</html>