<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
<div>
    <h2>USER LIST</h2>
    <table th:border="1">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
        </tr>
        <tr th:each="user : ${users}">
            <td>
                <a th:href="@{/users/{id}(id=${user.getId()})}" th:utext="${user.getName()}"></a>
            </td>
            <td th:utext="${user.getAge()}"></td>
            <td th:utext="${user.getEmail()}"></td>
        </tr>
    </table>
</div>
<a href="users/new"> create new user </a>

</body>
</html>